@import "../../Assets/scss/vars&mixins.scss";

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;

  &__logo {
    height: 3em;
  }

  h1 {
    font-size: 4em;
    margin-top: 4em;
    text-align: center;
  }

  @include greenBtn;

  @media screen and (max-width: 500px) {
    font-size: 13px;
  }

  @media screen and (max-width: 400px) {
    h1 {
      font-size: 3em;
    }
  }
}
