.home {
  background: rgb(0, 4, 36);
  background: linear-gradient(
    0deg,
    rgba(0, 4, 36, 1) 85%,
    rgba(173, 117, 78, 1) 100%
  );

  .popularAlbums,
  .recent {
    padding: 2em;

    h2 {
      color: white;
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 0.5em;
    }

    &__containner {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 650px) {
    font-size: 13px;
  }
}
