.home {
  background-color: #121212;

  .popularAlbums,
  .recent {
    padding: 2em;

    h2 {
      color: white;
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 0.5em;
    }

    &__containner {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
